<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Credenz Quiz</title>


    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      />
    <link rel="stylesheet" type="text/css" href="/css/complete.css" />
    <link rel="icon" href="images/live30.png">
  </head>

  <script>
    setTimeout(function(){ window.location="/logout"; },5000);
  </script>
  <body>

    <nav class="navbar navbar-expand-sm navbar-light" style="background-color:  rgba(0,0,0,0.7);">

      <div >
          <img id="cretronixlogo"   src="images/cretronix_final.png"  alt="LOGO">
      </div>
      <div class="bar  ">
        <a id="titletext" class="navbar-brand text-white  " href="#"> Cretronix </a>
      </div>
      <div class="ml-auto ">
          <img id="pisblogo" src="images/logo_pisb_2.png"  alt="LOGO">
      </div>
     

    </nav>
    <div class="container-fluid h90  ">
        <div class="row " style="align-items: center;">
            <div id="maincol"  class="col-sm-8 col-10  text-center">
                <div class="row " style="align-items: center;">
                      <div id="tytext"  class="col-sm-12 col-sm-0  text-white  text-center font-weight-bold  bg-transparent  ">Your response was submitted successfully.              
                      </div>
                </div>
                <div class="row " style="align-items: center;">
                    <div id="tickbox"  class="col-sm-10 col-12     text-center font-weight-bold  bg-transparent ">
                        <div class="wrapper">
						  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
						  <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4
							C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3"/>
						  </svg>
                        </div>
                    </div>  
                </div>
                <div class="row " style="align-items: center;">
                    <div id="tytext"  class="col-sm-12 col-12 text-white  text-center font-weight-bold  bg-transparent  ">Thank you for attempting.               
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class=" fixed-bottom " style="background-color:  rgba(0,0,0,0.7);">
      <div class="container-fluid text-white text-center pt-3 pb-2 ftt">&copy PICT IEEE Student Branch | Developed by PISB <a class="abt text-white" href="web_team">Web Team</a></div>
   </footer>
  </body>


</html>