<!Doctype HTML>
<html>
    <head>
        <title> Quiz </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	      <link rel="stylesheet" type="text/css" href="https://fontawesome.com/v4.7.0/icon/times">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link rel="icon" href="images/live30.png">

        <script src="/js/index.js"></script>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-right nb">
        <img class="logo justify-content-right align-items-right" src="images/logo2.png">
        
        <button class="navbar-toggler navbar-dark justify-content-end " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon navbar-dark"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav justify-content-end align-items-right">
            
            <a class="nav-link active nbc" href="our_team">Our Team</a>
          </div>
          <img class="il justify-content-right align-items-right" src="images/ieeelogo.png">
        </div>
      </nav>
     

        <div class="container-fluid">
          <div class="fullscreen-bg">
            <video loop muted autoplay class="fullscreen-bg__video">
                <source src="images/Abstract-Technology-Background-2.mp4" type="video/mp4">
            </video>
        </div>
        
            <form class="col-10 col-md-6">
            <label class="txt"><img class="cred" src="images/crewhite.png">CREDENZ LIVE<p class="stxt">presents</p></label>
            <p class="en" style="padding-left: 8vw;">QUIZ</p>
            </form>
            <form id="login" method="post" action="/index" class="col-10 col-md-6 input-area justify-content-center align-items-center">
              <img class="cre1" style="background-color: white;" src="images/quiz.png">
              <% if(failed!=''){%>
                <div class="alert">
                  &#9888 <%= failed%>
                </div>
              <% } %>
                <!--<label><i class="fa fa-user ico" aria-hidden="true"></i> Email :<br><input type="email" class="input-field" required></label><br>-->
				        <label><i class="fa fa-user ico" aria-hidden="true"></i> Username :<br><input type="username" name="username" class="input-field" required></label><br>
                <label><i class="fa fa-lock ico" aria-hidden="true"></i> Password :<input type="password" name="password" class="input-field" required></label><br>
                <label><i class="fa fa-mobile ico" aria-hidden="true"></i> Mobile :<input type="text" name="mobile" pattern="[0-9]+" class="input-field" required></label><br>
        <button type="submit" class="submit-btn bg-info" href="index">Log In</button> 
        <p class="sign">Not Signed Up ? <a class="su" href="https://www.credenz.in/"> Click Here</a> </p>
            </form>
        </div>
        <div class="pad" style="padding:1%;"></div>
        <nav class="navbar navbar-expand-lg justify-content-center navbar-dark bg-dark fixed-bottom nb ">
            <div class="navbar-brand mc-auto nt">&copy PICT IEEE Student Branch | Developed by PISB <a class="abs" href="web_team">Web Team</a></div>
      </nav>
        
       
    </body>
</html>