<!Doctype HTML>
<html>
    <head>
        <title> Quiz </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	      <link rel="stylesheet" type="text/css" href="https://fontawesome.com/v4.7.0/icon/times">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link rel="icon" href="images/live30.png">
    </head>
    <body>
      
        <nav class="navbar navbar-expand-lg navbar-dark  justify-content-right nb" style="z-index: 10000; background-color: black;">
            <img class="logo justify-content-right align-items-right" src="images/logo2.png">
            <a class="navbar-brand title " href="#" >QUIZ</a>
            <button class="navbar-toggler navbar-dark justify-content-end " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon navbar-dark"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup" >
              <div class="navbar-nav justify-content-end align-items-right">
                <!-- <a class="nav-link active nbc" href="Instruction">Instructions</a> -->
                <a class="nav-link active nbc" href="our_team">Our Team</a>
              </div>
              <img class="il justify-content-right align-items-right" src="images/ieeelogo.png">
            </div>
          </nav>

      <div id="home_wave" >
    </div>
      
    <div class="container-fluid" >
        
        <form class="col-10 col-md-6 new">
        <img class="cred " src="images/C'live Horizontal Colour .png"><p class="stxt">presents</p>
        <p class="en" >QUIZ</p>
        </form>
        <form id="login" method="post" action="/" class="col-10 col-md-6 input-area justify-content-center align-items-center">
          <img class="cre1" style="background-color: white;" src="images/quiz.png">
          <% if(failed!=''){%>
            <div class="alert">
              &#9888 <%= failed%>
            </div>
          <% } %>
            <!--<label><i class="fa fa-user ico" aria-hidden="true"></i> Email :<br><input type="email" class="input-field" required></label><br>-->
            <label><i class="fa fa-user ico" aria-hidden="true"></i> Username :<br><input type="username" name="username" class="input-field" required></label><br>
            <label><i class="fa fa-lock ico" aria-hidden="true"></i> Password :<input type="password" name="password" class="input-field" required></label><br>
            <!-- <label><i class="fa fa-mobile ico" aria-hidden="true"></i> Mobile :<input type="text" name="mobile" pattern="[0-9]+" class="input-field" required></label><br> -->
            
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="quiztype" id="inlineRadio1" value="melaquiz">
              <label class="form-check-label" for="inlineRadio1">Mela</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="quiztype" id="inlineRadio2" value="biztechquiz">
              <label class="form-check-label" for="inlineRadio2">Biztech</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="quiztype" id="inlineRadio3" value="generalquiz">
              <label class="form-check-label" for="inlineRadio3">General</label>
            </div>
            <button type="submit" class="submit-btn bg-info" href="index">Log In</button> 
            <p class="sign">Not Signed Up ? <a class="su" href="https://www.credenz.in/"> Click Here</a> </p>
        </form>
    </div>
    <div class="pad" style="padding:1%;"></div>
    <nav class="navbar navbar-expand-lg justify-content-center navbar-dark  fixed-bottom nb " style="background-color: black;">
        <div class="navbar-brand mc-auto nt">&copy PICT IEEE Student Branch | Developed by PISB <a class="abs" href="web_team" style="color: #608cdd ;">Web Team</a></div>
  </nav>
  <script src="/js/all.js"></script>
  <script src="/js/login.js"></script>
    </body>   
</html>