<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instruction Page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        />
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
  <link rel="stylesheet" type="text/css" href="/css/Introduction.css" />
  <link rel="icon" href="images/live30.png">
  <script src="/js/Instruction.js"></script>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgba(0,0,0,0.7); position: relative;">
    <a class="navbar-brand">
      <img src="images/quiz (1).png" width="30" height="30">
      <img src="images/logo-cakesoft-2.png" height="20" id="title_sps">
      <img src="images/cakesoft_logo.png" height="30" id="cake"> 
    </a>
    <a href="#" class="navbar-brand quiz-logo">Quiz</a>
    <a class="navbar-brand ml-auto " >
      <img src="images/logo2.png" height="40" class="d-inline-block align-top" alt="">
    </a>
  </nav>

  <!-- <nav class="navbar navbar-expand-lg navbar-dark  justify-content-right nb fixed-top" style="width: 100%;background-color: black;">
    <a class="navbar-brand">
      <img src="images/quiz2.png" width="50" height="40" class="d-inline-block align-center" alt="" style=" border-radius: 10px;">
      <img src="images/logo-cakesoft-2.png" width="160" height="35" class="d-inline-block align-center" alt="" style=" border-radius: 10px;">
    </a>
    <a class="navbar-brand title">QUIZ</a>
    <a class="navbar-brand ml-auto " >
      <img src="images/logo2.png" width="90" height="40" class="d-inline-block align-top logo1" alt="">
    </a>
  </nav> -->

    <div class="row mx-auto " >
        <div class="col-md-12">
          <div class="wrapper container pt-4">
            <form action="/instruction" method="post">
            <div class="card animated animatedFadeInUp fadeInUp mt-3">
                <div class="card-header text-center" style="font-size: 18px;">
                    Instructions
                </div>
                <div class="card-body" >
                  <ol type="1">
                    <li style="color:red"><b><u>Refrain from changing tabs/window/browser while attempting the quiz as this will lead to disqualification and you will not be able to login again.</u></b></li>
                    <li>This questionnaire contains 20 questions.</li>
<li>There is NO negative marking.</li>
<li>Questions are to be answered in a short-answer manner.</li>
<li><b><u>The following formats are to be followed for particular questions. Please note them down as they will not be shown again: </u></b> 
  <ol type="a">
    <li>Name X and Y.	[two variables]<br>
      Answer format:      X:- answer, Y:- answer</li>
    <li>Name two continents. [two components]<br>
        Answer format:     Asia, Australia</li>
    <li>Name X. [single variable]<br>
      Answer format:  X:- answer</li>
    <li>Name the actor.<br> 
      Answer format: answer</li>
  </ol>
  </li>
<li>Star Marked Questions will be used while evaluation, in case of a tie. If even the Star Marked Questions are same, then there will be a sudden death evaluation of the answer sheets.</li>
<li>Kindly refrain from cybernetic investigations.</li>
<!-- <li>Refrain from changing tabs while attempting the quiz as this will lead to disqualification.</li> -->
<li>Wikipedia has been assumed factually correct while preparing this quiz.</li>
<li>Only the top 6 teams will qualify for the final round. The finalists will receive an email about further details. </li>
<li>The answer can be submitted only once. It will be automatically submitted when the timer runs out.</li>
<li>Avoid typing errors while answering the questionnaire. </li>

<li>Internet and power failure problems will not be entertained.</li>



                  </ol>  
                </div>
                <div class="card-footer text-center" >
                    <div class="form-check" style="font-size: 17px;">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="check1">
                        <label class="form-check-label" for="exampleCheck1">I have read all instructions carefully.</label>
                    </div>
                </div>
            </div>

            <div class=" text-center mt-2" style="font-size: 26px;">
                <button type="submit" id="proceed" name="btn" class="btn animated animatedFadeInUp fadeInUp ">Proceed</button>
            </div> 
          </form>
          </div>
        </div>

       
    </div>
    
      <br>
      <div id="adjust"></div>
      <nav class="navbar navbar-expand-lg justify-content-center navbar-dark fixed-bottom" style="background-color: black;opacity: 0.7; width: 100%;">
        <a class="navbar-brand mc-auto " id="footer"> &copy PICT IEEE Student Branch | Developed by PISB<a class="abs" href="web_team">Web Team</a></a>
      </nav>
  </body>
</html>