<!DOCTYPE html>
<html>
    <head>
        <title>Web Team Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	      <link rel="stylesheet" type="text/css" href="https://fontawesome.com/v4.7.0/icon/times">
        <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet"  href="/css/our_team.css">
        <link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="images/live30.png">
    </head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light justify-content-right nbt">
        <img class="cr" src="images/quiz (1).png" id="enig_logo">
        <a class="navbar-brand ht"  href="our_team" >Our Team</a>
        <button class="navbar-toggler navbar-dark " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon navbar-dark"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav"> 
          
          <img class="cl" src="images/pisb2.png">
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-10 col-md-4">
                <div class="main1" id="main1">
                    <div class="gradient">
                        <div class="content">
                            <h2>Aparna Ranade</h2>
                            <div class="icons">
                                <a href="https://www.linkedin.com/in/aparna-ranade-8697591b2/"><i class="fa fa-linkedin-square bounce" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4">
                <div class="main2" id="main2">
                    <div class="gradient">
                        <div class="content">
                            <h2>Asawari Walkade</h2>
                            <div class="icons">
                                <a href="https://www.linkedin.com/in/asawari-walkade-7704b1120/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="st col-lg-2 col-md-3 col-sm-4 col-4">Junior Team</div><br>
        <div class="row d-flex justify-content-center">
            <div class="col-10 col-md-4">
                <div class="main1" id="main4">
                    <div class="gradient">
                        <div class="content">
                            <h2>Atharva Khadilkar</h2>
                            <div class="icons">
                                <a href="https://www.linkedin.com/in/atharva-khadilkar-531a6b192/"><i class="fa fa-linkedin-square bounce" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4">
                <div class="main2" id="main5">
                    <div class="gradient">
                        <div class="content">
                            <h2>Kanchan Chavan</h2>
                            <div class="icons">
                                <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4">
                <div class="main3" id="main6">
                    <div class="gradient">
                        <div class="content">
                            <h2>Pratik Dhaygude</h2>
                            <div class="icons">
                                <a href="https://www.linkedin.com/in/pratik-dhaygude-2906631b6/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       <div class="col-10 col-md-4">
                <div class="main1" id="main7">
                    <div class="gradient">
                        <div class="content">
                            <h2>Shashwat Tandon</h2>
                            <div class="icons">
                                <a href="https://www.linkedin.com/in/shashwat-tandon-6a0397160/"><i class="fa fa-linkedin-square bounce" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4">
                <div class="main2" id="main8">
                    <div class="gradient">
                        <div class="content">
                            <h2>Avantika Patil</h2>
                            <div class="icons">
                                <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4">
                <div class="main3" id="main9">
                    <div class="gradient">
                        <div class="content">
                            <h2>Ravi Kumar Verma</h2>
                            <div class="icons">
                                <a href="https://www.linkedin.com/in/ravi-kumar-verma-0908521b7/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
    <div id="adjust" style="padding:3%;"></div>
                    <footer class="text-center fixed-bottom">
                      <div class="conatiner-fluid">
                          <div class="footer-text pt-2 pb-2 ft">&copy PICT IEEE Student Branch | Developed by PISB <a class="ps" href="web_team">Web Team</a></div>
                      </div>
                  </footer>
</body>
</html>