<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credenz Quiz</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    <script src="script.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&family=Life+Savers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=BenchNine:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/quest.css">
    <link rel="icon" href="images/live30.png">

    <script src="/js/quizfinal.js"></script>
    
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark  fixed-top" style="background-color: black; font-family:'Times New Roman', Times, serif;opacity: 1;height: 7vh;">
        <a class="navbar-brand" href="#">
          <img src="images/quiz (1).png" id="brand" id="img_pisb" class="d-inline-block align-top" alt="">
        </a>
        <a class="navbar-brand ml-auto" id="ourteam" style="font-family: 'Gruppo', cursive; font-weight: bold;" >BIZ TECH</a>


        <a class="navbar-brand ml-auto" href="#">
             <a class="navbar-brand" id="ourteam" style="font-family: 'Gruppo', cursive; font-weight: bold;" href="our_team">Our Team</a>
             <a href="#" id="logo_pisb"><img src="images/pisb2.png" width="90" height="30" class="d-inline-block align-top" alt="" ></a>
        </a>

    </nav>
    
   <div class="container-fluid">
       <div class="row d-flex justify-content-center" id="main_row" style="padding-top: 50px;">
            <div class="col-lg-2 col-12 col-md-3" id="one">
                            <div id="countdown"></div>
                            <div id="finish"></div>
                            
   
            </div>
           <div class="col-lg-8 col-12 col-md-7 " id="two" >
                <div class="row" id="ques" >
                    <div class="col-lg-12">
                        <p id="question" runat="server" onCopy="return false" onPaste="return false" onDrop="return false"> 
                            <%= quest[cnt].toObject().question %>
                        </p>
                    </div>
                </div>

                <div class="row no-gutters">
                    <div class="col-lg-12">
                        <img src="images/photo.jpeg"  class="img-fluid photo" id="responsive" width="600" height="50">
                    </div>
                </div>

                <div class="row no-gutters">
                    <div class="col-lg-12">
                        <form method="post" action="/quizfinal" name="xyz">
                            <script type=text/javascript>countDown(<%= Math.floor( timer / 1000 ) %>, "countdown")
                               var wait=setTimeout("document.xyz.submit();",<%= timer %>);
                            </script>
                            <div class="form-row">
                                <input type="text" placeholder="Answer" id="field" name="answer">
                                <button id="btn" type="submit" >Submit</button>
                                <!-- <script>
                                    function submitPoll(){
                                        document.getElementById("btn").disabled = true;
                                        // var butimer=<%% butimer %>;
                                        setTimeout(function(){document.getElementById("btn").disabled = false;},5000);
                                    }
                                    submitPoll();
                                </script> -->
                            </div>     
                        </form>
                    </div>
                </div>   
            </div>
        </div>
   </div>

   
   <nav class="navbar navbar-expand-lg justify-content-center navbar-dark fixed-bottom" style="background-color: black;">
    <a class="navbar-brand mc-auto " id="footer">&copy PICT IEEE Student Branch | Developed by PISB<a class="abs" href="web_team">Web Team</a></a>
    </nav>

    
</body>
</html>