html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

/* Background 
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-size: contain;
  opacity:0.7;
}

.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}*/

/*.bg{
  position: absolute;
  margin-left:-1vw;
  margin-top:-4.5vw;
  z-index:-1;
  overflow: hidden;
}
.st0 {
  position: relative;
  fill: none;
  stroke:#00AACC;/* #008C4A;
  stroke-miterlimit: 10;
  left:-1vw;
  top:-1vw;
}
.st1 {
  position: relative;
  left:-1vw;
  top:-1vw;
  fill: none;
  stroke:#002288;/* #d4af37;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}*/

.nbc {
  margin-right: 1vw;
}

.nb {
  font-size: 18px;
  color: white;
}
form {
  position: absolute;
  top: 2.5vw;
}
.container-fluid {
  height: 100vh;
  width: 100vw;
}
.title {
  display: none;
  font-size: 22px !important;
  position: relative;
  font-family: Roboto;
}
.logo {
  height: 40px;
  width: 115px;
}
.il {
  height: 40px;
  width: 115px;
}
.cre1 {
  margin-top: -12vw;
  margin-left: 5.5vw;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.new {
  position: absolute;
  margin-top: 2vw;
}
.input-area {
  position: absolute;
  left: 33%;
  height: 32vw;
  width: 24vw;
  padding: 3vw;
  padding-top: 5vw;
  padding-left: 3vw;
  margin: 5vw;
  margin-top: 7vw;
  margin-left: 27vw;
  border: 1.5px solid whitesmoke;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 18px;
  font-family: Roboto;
}
.input-field {
  background: transparent;
  border: none;
  margin-top: -0.5vw;
  margin-bottom: 0.6vw;
  border-bottom: 1px solid whitesmoke;
  border-spacing: 0.5vw;
  width: 18vw;
  font-size: 17px;
  color: white;
  font-family: sans-serif;
  outline: none;
  font-family: Roboto;
}
.submit-btn {
  position: relative;
  left: 5vw;
  margin-top: 1vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: auto;
  border-radius: 0px;
  font-size: 22px;

  background-color: #608cdd;
  background-image: linear-gradient(315deg, #608cdd 0%, #608cdd 74%);

  color: #fff;
  border: #fff solid 2px;
  outline: none;
  font-family: Roboto;
}
.submit-btn:hover {
  transform: scale(1.1);
  background-color: #00aacc;
}
.sign {
  text-align: center;
  margin-top: 2vw;
  font-size: 15px;
}
a.su:link {
  color: #608cdd !important;
  text-decoration: none;
  background: transparent;
}
a.abs {
  text-decoration: none;
  font-size: 18px;
  font-family: Roboto;
}
a.ft {
  color: white;
  text-decoration: none;
  outline: none;
}
.nt {
  font-size: 18px;
}
.cred {
  height: 280px;
  width: 600px;
  margin-bottom: 1vw;
}
.txt {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-left: 1vw;
  justify-content: center;
}
.stxt {
  color: white;
  position: relative;
  font-size: 35px;
  left: 13vw;
  bottom: 4vw;
  font-weight: 500;
  justify-content: center;
}
.en {
  position: relative;
  color: white;
  font-size: 80px;
  font-weight: bold;
  left: 11vw;
  top: -5vw;
  justify-content: center;
}

/* Media Query */
@media (max-width: 1922px) {
  .cred {
    margin-left: 1vw;
  }

  .title {
    display: none;
  }
  .cred {
    height: 300px !important;
    width: 600px !important;
    margin-bottom: 1vw;
    margin-top: 3vw !important;
  }
  .stxt {
    margin-left: 13vw !important;
    font-size: 35px;
  }
  .en {
    margin-left: 12vw !important;
    font-size: 90px;
  }
}

@media (max-width: 1685px) {
  .stxt {
    left: 27vw !important;
    font-size: 35px;
  }
  .en {
    left: 25vw !important;
    font-size: 100px;
  }
  .input-area {
    margin-top: 19vw !important;
    height: 35vw !important;
    width: 26vw !important;
  }
  .cred {
    margin-top: 2vw;
    margin-left: 0vw;
  }
  .cre1 {
    margin-left: 6.5vw !important;
  }
}

@media (max-width: 1601px) {
  .input-area {
    margin-top: 6vw !important;
    height: 32vw !important;
    width: 24vw !important;
  }

  .cred {
    margin-top: 0px;
    height: 320px !important;
    width: 700px !important;
  }
  .cre1 {
    margin-left: 5.5vw !important;
  }

  .stxt {
    left: 14vw !important;
    font-size: 35px;
  }
  .en {
    left: 12vw !important;
    font-size: 100px;
  }
}

@media (max-width: 1441px) {
  .input-area {
    margin-top: 9vw !important;
    height: 33vw !important;
    width: 26vw !important;
  }
  .stxt {
    left: 18vw !important;
    bottom: 4vw;
    font-size: 35px !important;
  }
  .en {
    left: 16vw !important;
    top: -6vw;
    font-size: 90px !important;
  }
  .cre1 {
    margin-left: 5.5vw !important;
  }
}

@media (max-width: 1401px) {
  .input-area {
    margin-top: 11vw;
    height: 39vw !important;
    width: 30vw !important;
  }
  .stxt {
    padding-left: 15vw;
    bottom: 4vw;
    font-size: 32.5px !important;
  }
  .en {
    left: 29vw !important;
    top: -6vw;
    font-size: 65px !important;
  }
  .cred {
    margin-top: 2vw;
    height: 310px !important;
    width: 580px !important;
  }
  .cre1 {
    margin-left: 8vw !important;
  }
  .submit-btn {
    left: 7.3vw;
  }
}

@media (max-width: 1367px) {
  .stxt {
    left: 0vw !important;
    bottom: 4vw;
    font-size: 27px !important;
  }
  .en {
    left: 14vw !important;
    top: -6vw;
    font-size: 65px !important;
  }
  .cred {
    height: 285px !important;
    width: 620px !important;
    margin-bottom: 1vw;
    margin-left: -1vw;
  }
  .input-area {
    margin-top: 7vw !important;
    height: 33.3vw !important;
    width: 27vw !important;
  }
  .cre1 {
    margin-top: -13vw;
    margin-left: 5.5vw;
    height: 75px;
    width: 75px;
  }
  .cre1 {
    margin-left: 7.6vw !important;
  }
  .submit-btn {
    left: 6.2vw;
  }
}

@media (max-width: 1281px) and (max-height: 1081px) {
  .cred {
    margin-top: 5vw !important;
    height: 245px !important;
    width: 550px !important;
  }
  .input-area {
    margin-top: 15vw !important;
    height: 35vw !important;
    width: 29vw;
  }
  .stxt {
    left: 14vw !important;
    bottom: 4vw;
    margin-left: 6vw !important;
  }
  .en {
    left: 27vw !important;
    top: -6vw;
    margin-left: 2vw !important;
  }
  .cre1 {
    margin-left: 8.5vw !important;
  }
  .submit-btn {
    left: 8.7vw;
  }
  .form-check-label {
    font-size: 13px;
  }
}

@media (max-width: 1281px) and (max-height: 961px) {
  .input-area {
    margin-top: 10vw !important;
    width: 29vw !important;
    padding-right: -10vw;
  }
  .stxt {
    left: 14vw;
    bottom: 4vw;
    margin-left: 0vw !important;
  }
  .en {
    margin-left: 0vw !important;
  }
}

@media (max-width: 1281px) and (max-height: 810px) {
  .input-area {
    margin-top: 9vw !important;
    height: 35vw;
  }
  .stxt {
    margin-left: 3vw !important;
  }
}

@media (max-width: 1281px) and (max-height: 769px) {
  .stxt {
    left: 12vw !important;
    bottom: 4vw;
  }
  .en {
    left: 10vw;
    top: -6vw;
  }
  .cred {
    margin-bottom: 1vw;
  }
  .input-area {
    margin-top: 7vw !important;
    height: 34vw;
    width: 24vw;
  }
  .cre1 {
    margin-top: -13vw;
    margin-left: 6vw;
    height: 75px;
    width: 75px;
  }
}

@media (max-width: 1281px) and (max-height: 721px) {
  .input-area {
    margin-top: 5.6vw !important;
    height: 34vw !important;
  }
}

@media (max-width: 1153px) {
  .input-area {
    margin-top: 12vw !important;
    height: 40vw !important;
    width: 30vw !important;
  }
  .txt {
    font-size: 35px;
  }
  .stxt {
    left: 12.5vw;
    bottom: 4vw;
    font-size: 23px;
  }
  .en {
    left: 10.5vw;
    top: -6vw;
    font-size: 55px;
  }
  .cre1 {
    margin-top: -13vw;
    margin-left: 6vw;
    height: 75px;
    width: 75px;
  }
  .cred {
    margin-top: 8vw !important;
    height: 265px !important;
    width: 590px !important;
  }
}

@media (max-width: 1026px) {
  .input-area {
    margin-top: 12vw;
    height: 39vw;
    width: 31.8vw !important;
  }
  .txt {
    font-size: 30px;
  }
  .stxt {
    left: 14vw;
    bottom: 4vw;
    font-size: 20px;
  }
  .en {
    left: 12vw;
    top: -6vw;
    font-size: 55px;
  }
  .cre1 {
    margin-top: -14vw;
    margin-left: 6vw;
    height: 75px;
    width: 75px;
  }
  .cred {
    margin-top: 8vw !important;
    height: 250px !important;
    width: 550px !important;
  }
}

@media (max-width: 769px) {
  .input-area {
    top: 18vw;
    height: 53vw !important;
    width: 35vw !important;
  }
  .il {
    display: none;
  }
  .txt {
    font-size: 30px;
  }
  .stxt {
    left: 4vw !important;
    bottom: 4vw;
    font-size: 30px;
    margin-left: 7vw !important;
  }
  .en {
    left: 17vw !important;
    top: -6vw;
    font-size: 65px;
    margin-left: 6vw !important;
  }
  .cre1 {
    margin-top: -14vw;
    margin-left: 7vw;
    height: 75px;
    width: 75px;
  }
  .cred {
    margin-top: 8vw;
    height: 210px !important;
    width: 400px !important;
    margin-bottom: 1vw;
  }
  .form-check-label {
    font-size: 13px;
  }
  .submit-btn {
    width: 12vw;
  }
}

@media (max-width: 542px) {
  .input-area {
    top: 16vw;
    height: 70vw !important;
    width: 42vw !important;
    left: 25vw;
  }
  .txt {
    font-size: 30px;
  }

  .stxt {
    margin-left: 1vw !important;
    font-size: 26px !important;
  }
  .en {
    left: 10vw !important;
    top: -8vw;
    font-size: 50px !important;
    margin-left: 8vw !important;
  }
  .cre1 {
    margin-top: -14vw;
    margin-left: 12vw !important;
    height: 60px;
    width: 60px;
  }
  .cred {
    margin-top: 8vw;
    height: 110px !important;
    width: 250px !important;
    margin-bottom: 1vw;
  }
  .form-check-label {
    font-size: 10px;
  }
  .submit-btn {
    width: 19vw;
  }
}

@media (max-width: 425px) {
  body {
    overflow: hidden !important;
  }
  .title {
    display: inline !important;
  }
  .logo {
    display: none;
  }
  .adjust {
    padding-bottom: 12vh;
  }
  .il {
    display: none;
  }

  .cred {
    height: 100px !important;
    width: 200px !important;
    margin-left: 19vw;
    margin-top: 12vw !important;
  }
  .txt {
    font-size: 25px;
  }
  .stxt {
    font-size: 17px !important;
    margin-left: 23vw !important;
    display: none;
  }
  .en {
    font-size: 35px !important;
    margin-left: 20vw !important;
    margin-top: 0vw;
    display: none;
  }
  .nb {
    background-color: #000 !important;
    font-size: 18px;
  }
  .nt {
    font-size: 12px;
  }
  a.abs {
    font-size: 12px;
  }
  .logo {
    height: 35px;
    width: 100px;
  }
  .bg {
    position: absolute;
    margin-left: -4vw;
    margin-top: -15vw;
    background-size: cover;
  }
  .title {
    font-size: 20px !important;
    left: 1vw;
    margin-right: 10vw;
  }
  .cre1 {
    height: 75px;
    width: 75px;
    margin-top: -34vw;
    margin-left: 15vw !important;
  }
  .input-area {
    position: absolute;
    top: 21vh;
    height: 58vh !important;
    width: 65vw !important;
    margin-bottom: 12vh;
    font-size: 18px;
    margin-left: -6vw;
    margin-top: 56vw;
    padding-left: 8vw;
    padding-top: 15vw;
    z-index: 10000;
  }
  .input-field {
    width: 50vw;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid whitesmoke;
  }
  .submit-btn {
    width: 30vw;
    margin-left: 2vw;
    margin-top: 4vw;
  }
  .ico {
    font-size: 18px;
  }
  .sign {
    position: relative;
    margin-top: 7vw;
    margin-right: 7vw;
    font-size: 14px;
  }
  .stxt {
    margin-left: 12vw;
  }
  .form-check-label {
    font-size: 12px;
  }
  .en {
    margin-left: 13vw;
  }
}

@media (max-width: 376px) {
  a.title {
    font-size: 10px;
  }
  .input-area {
    height: 57vh;
    width: 68vw !important;
    font-size: 15px;
    padding-left: 9.5vw;
    top: 20vh;
  }
  .cre1 {
    height: 60px;
    width: 60px;
    margin-left: 13.2vw;
  }
  .submit-btn {
    font-size: 15px;
    margin-left: 2vw;
  }
  .sign {
    font-size: 12px;
  }
  .stxt {
    margin-left: 22vw !important;
    font-size: 13px !important;
    margin-bottom: 4vw;
  }
  .en {
    margin-left: 22vw !important;
    font-size: 18px !important;
  }
  .cred {
    margin-top: 13vw;
    height: 70px;
    width: 150px;
    margin-left: 17vw;
  }
  .nt {
    font-size: 10px;
  }
  a.abs {
    font-size: 10px;
  }
}

@media (max-width: 370px) {
  a.title {
    font-size: 10px;
  }
  .input-area {
    height: 58vh;
    width: 70vw !important;
    font-size: 15px;
    padding-left: 7vw;
    top: 22vh;
    left: 22vw;
  }
  .cre1 {
    height: 60px;
    width: 60px;
    margin-left: 18vw !important;
  }
  .submit-btn {
    font-size: 15px;
    margin-left: 2vw;
  }
  .sign {
    font-size: 12px;
  }
  .stxt {
    margin-left: 22vw !important;
    font-size: 13px !important;
    margin-bottom: 4vw;
  }
  .en {
    margin-left: 22vw !important;
    font-size: 18px !important;
  }
  .cred {
    margin-top: 13vw !important;
    height: 70px;
    width: 135px;
    margin-left: 12vw;
  }
  .nt {
    font-size: 10px;
  }
  a.abs {
    font-size: 10px;
  }
}

@media (max-width: 325px) {
  a.title {
    font-size: 10px;
  }
  .input-area {
    height: 63vh !important;
    width: 75vw !important;
    font-size: 15px;
    padding-left: 6vw;
    top: 21vh;
  }
  .cre1 {
    height: 60px;
    width: 60px;
    margin-left: 20vw !important;
  }
  .submit-btn {
    font-size: 15px;
    margin-left: 5vw;
  }
  .sign {
    font-size: 12px;
  }
  .stxt {
    margin-left: 22vw !important;
    font-size: 13px !important;
    margin-bottom: 4vw;
  }
  .en {
    margin-left: 22vw !important;
    font-size: 18px !important;
  }
  .cred {
    margin-top: 16vw !important;
    height: 70px !important;
    width: 155px !important;
    margin-left: 19vw;
  }
}

@media (max-width: 300px) {
  .input-area {
    margin-top: 8vh !important;
    height: 58vh !important;
    width: 80vw !important;
    left: 17vw;
  }
  .txt {
    font-size: 12px;
  }
  .stxt {
    margin-left: 18vw !important;
    font-size: 18px !important;
  }
  .en {
    margin-left: 16vw !important;
    font-size: 32px !important;
  }
  .nt {
    font-size: 10px;
  }
  .cred {
    margin-top: 22vw !important;
    height: 60px !important;
    width: 135px !important;
    margin-left: 14vw;
  }
  .form-check-label {
    font-size: 10px;
  }
  .submit-btn {
    font-size: 15px;
    margin-left: 8vw;
  }
}
