body {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  background-image: url("/images/puz.png");
  background-repeat: repeat;
  /* background-color: rgb(155, 219, 211); */
  width: 100%;
  background-position: center;
  background-size: cover;
  font-family: "Gruppo", cursive;
  position: relative;
  min-height: 100%;
  /* overflow:hidden; */
}
#ourteam {
  /* padding-bottom:2%; */
  font-size: 1.5vw;
}

.row {
  margin-top: 3%;
  margin-left: 0px;
  margin-right: 0px;
}

#main_row {
  margin-top: 4%;
}

#question {
  margin-top: 10px;
  font-size: 2vw;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

#ques {
  /* border: 1px solid rgb(0, 0, 0); */
  margin-top: 0px;
  background-color: #608cdd;
  opacity: 0.8;
}

#two {
  min-height: auto;
}

a.abs {
  text-decoration: none;

  font-size: 18px;
  overflow: hidden;
  /* border:1px solid white; */
  /* padding:1px; */
}

input {
  width: 50%;
  height: 100%;
  border: none;
  outline: none;
  background: black;
  font-size: 2vw;
  /* border-bottom: 2px solid #000000; */
  /* margin-top:4%; */
  color: rgb(255, 255, 255);
}

#responsive {
  display: block;
  max-width: 20vw;
  max-height: 100%;
  margin-right: auto;
  padding: 0.3vw;
  background: linear-gradient(215deg, #608cdd, #273d64, #000000);
}

#btn {
  width: 40%;
  padding: 1.5%;
  background: #000000;
  color: #ffffff;
  border: 2px solid #000000;
  font-style: unset;
  letter-spacing: 2%;
  font-size: 100%;
  text-transform: uppercase;
  transition: 0.6s;
  outline: none;
  font-weight: bold;
  border: 2px solid #608cdd;
  margin-left: 2%;
}

#btn:hover {
  box-shadow: 0 5px 30px 0 #608cdd inset, 0 5px 30px 0 #608cdd,
    0 5px 50px 0 #608cdd inset, 0 5px 30px 0 #608cdd;
  text-shadow: 0 0 2px black, 0 0 5px black;
}

#countdown {
  font-size: 7vw;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "JetBrains Mono", monospace;
  background-color: #608cdd;
  opacity: 0.8;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  /* margin-top: 10px; */
  height: 7vh;
}

#footer {
  font-size: 18px;
}

#title_mob{
  display: none i !important;
}

@media screen and (min-width: 768px) {
  #body {
    overflow: auto;
  }
  
}

@media screen and (max-width: 767.9px) {
  
  #title_sps{
    display: none !important ; 
  }
  
  body {
    /* background-image: url(puz1.png); */
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
  }
  #question {
    font-size: 17px;
    text-align: justify;
    margin: 1px;
    margin-top: 1%;
  }

  #ques {
    margin-top: 2%;
  }

  a.abs {
    font-size: 10px;
  }

  #footer {
    font-size: 10px;
  }
  input {
    margin-top: 2%;
    font-size: 17px;
    width: 80%;
  }
  #countdown {
    margin-top: 10%;
    padding: 3%;
    border: none;
    /* background-color: blue; */
  }

  #responsive {
    margin-top: 2%;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }

  #btn {
    margin-top: 2%;
    margin-bottom: 25%;
    margin-left: 0;
  }

  .form-row {
    display: flex;
    justify-content: center;
  }

  #brand {
    height: 48px;
    width: 50px;
  }

  #logo_pisb {
    display: none;
  }

  #ourteam {
    padding-bottom:10%;
    font-size: 17px;
  }
}

#field {
  border: 2px solid #608cdd;
  padding: 1.5%;
  /* box-shadow: 10px 3px 20px 0 #0b524c inset, 0 5px 30px 0 #0b524c,0 5px 50px 0 #0b524c inset, 0 5px 30px 0 #0b524c; */
}

.container-fluid {
  height: 80vh;
  margin-top: 3%;
}

/* .top {
  margin-top: 3%;
} */

#brand {
  height: 50px;
  width: 4vw;
}
